[Unit]
Description=Power profiles daemon
After=network.target dbus.service

[Service]
ExecStart=/usr/libexec/power-profiles-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
