[Unit]
Description=Internet Wireless Daemon
After=dbus.service

[Service]
ExecStart=/usr/libexec/iwd
Restart=on-failure

[Install]
WantedBy=multi-user.target
