[Unit]
Description=iNet wireless daemon
After=network.target dbus.service

[Service]
ExecStart=/usr/libexec/iwd
Restart=on-failure

[Install]
WantedBy=multi-user.target
