[Unit]
Description=elogind login manager
After=dbus.service

[Service]
ExecStart=/usr/libexec/elogind
Restart=on-failure

[Install]
WantedBy=multi-user.target
