[Unit]
Description=PipeWire session manager
After=network.target dbus.service

[Service]
ExecStart=/usr/bin/wireplumber
Restart=on-failure

[Install]
WantedBy=default.target
