[Unit]
Description=CUPS printing service
After=network.target dbus.service

[Service]
ExecStart=/usr/sbin/cupsd -f
Restart=on-failure

[Install]
WantedBy=multi-user.target
