[Unit]
Description=seat management daemon
After=network.target

[Service]
ExecStart=/usr/bin/seatd -g video
Restart=on-failure

[Install]
WantedBy=multi-user.target
