[Unit]
Description=PipeWire multimedia server
After=network.target dbus.service

[Service]
ExecStart=/usr/bin/pipewire
Restart=on-failure

[Install]
WantedBy=default.target
