[Unit]
Description=NetworkManager
After=network.target dbus.service

[Service]
ExecStart=/usr/sbin/NetworkManager --no-daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
