[Unit]
Description=Bluetooth daemon
After=network.target dbus.service

[Service]
ExecStart=/usr/libexec/bluetooth/bluetoothd
Restart=on-failure

[Install]
WantedBy=multi-user.target
