[Unit]
Description=Simple Desktop Display Manager
Documentation=man:sddm(1)
After=local-fs.target systemd-user-sessions.service
After=dbus.service

[Service]
ExecStart=/usr/bin/sddm
Restart=always

[Install]
WantedBy=graphical.target
