[Unit]
Description=Simple Desktop Display Manager
After=network.target dbus.service

[Service]
ExecStart=/usr/bin/sddm
Restart=on-failure

[Install]
WantedBy=graphical.target
