[Desktop Entry]
Type=Application
Name=Welcome to Splux Linux, a source-based distribution using SPS.
Comment=SPS
Icon=splux
URL=https://splux.robertflexx.dev
