[Desktop Entry]
Type=Application
Name=Welcome to the SPS Linux operating system running KDE Plasma
Comment=SPS Linux
Icon=file:/usr/share/pixmaps/sps.png
URL=https://splux.robertflexx.dev
